body{  
    background: lightyellow;
  } 
  
  h1{
    color: brown;
    text-align: center;
    font-size: 35px;
    font-family: Microsotft JhengHei;
  }
  
  #image{
    text-align: center;
  }
  
  .introduction{
    text-align: left;  
    width: 20%;
    font-size: 20px;
    font-family: monospace;
    margin: auto;
    border:2px solid brown;  
    padding: auto;
  };
  